* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color: #092d20;
  --bege-color: #fff0d1;
  --main-font: "Century Gothic", sans-serif;
  --second-font: "Minion Pro", sans-serif;
}
