.container_about {
  display: flex;
  justify-content: center;
  background-image: url('/src/img/background-office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* imagem muito grande, mudar o size dela */
/* usar tambem background attachment */
