.container_about {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/src/img/mandala-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bege-color);
}

.container_about__h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-color);
  text-align: center;
  width: 700px;
}

.container_about__p {
  width: 900px;
  font-size: 28px;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-color);
  text-align: justify;
  padding: 16px 20px 16px 20px;
  margin: 40px 60px 40px 60px;
}

/* Tablet version */

@media screen and (min-width: 768px) {
  .container_about__p {
    width: 600px;
    font-size: 28px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    color: var(--green-color);
    text-align: justify;
    padding: 16px 20px 16px 20px;
    margin: 40px 60px 40px 60px;
  }
}

/* Mobile Version: */

@media screen and (max-width: 375px) {

  .container_about {
    display: inline-block;
    justify-content: center;
    background-image: url('/src/img/background-office.jpg');
    width: 200px;
  }

  .container_about__text {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 330px;
  }

  .container_about__h1 {
    display: inline-block;
    justify-content: center;
    width: 50vw;
    font-size: 30px;
    text-align: center;
    /* background-color: green; */
    
  }

  .container_about__p {
    display: block;
    max-width: 330px;
    text-align: center;
    margin-left: 1px;
    color: white;

  }
}

@media screen and (max-width: 430px) {
  .container_about {
    width: 430px;
    height: 100vh;
  }

  .container_about__h1 {
    width: 430px;
    font-size: 26px;
    margin-left: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  .container_about__p {
    width: 430px;
    margin-left: 25px;
    padding: 20px 30px 20px 30px;
    font-size: 21px;
    text-align: center;
  }
}
