.container_about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("/src/img/mandala-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bege-color);
}

.container_about__h1 {
  font-size: 45px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-color);
  text-align: center;
}

.container_about__text {
}
.container_about__p {
  width: 900px;
  font-size: 28px;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-color);
  text-align: justify;
  padding: 16px 20px 16px 20px;
  margin: 40px 60px 40px 60px;
}

/* Tablet version */

@media screen and (min-width: 768px) {
  .container_about__p {
    width: 600px;
    font-size: 28px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    color: var(--green-color);
    text-align: justify;
    padding: 16px 20px 16px 20px;
    margin: 40px 60px 40px 60px;
  }
}

/* Mobile Version: */

@media screen and (max-width: 414px) {
  .container_about__text {
    display: inline-block;
    justify-content: center;
  }

  .container_about__p {
    width: 330px;
    text-align: center;
  }

  .container_about__h1 {
    width: 400px;
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
  }
}
