.container_contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("/src/img/mandala-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background-color: var(--bege-color);
  gap: 10px;
}

.container_contact__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.container_contact__titulo {
  font-family: var(--main-font);
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  color: var(--green-color);
  padding: 10px;
  margin: 5px;
  margin-bottom: 20px;
}

.container_contact__p {
  font-family: var(--second-font);
  height: 205px;
  color: var(--green-color);
  font-family: var(--second-font);
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  padding: 25px;
  text-align: center;
  margin: 10px;
  width: 800px;
}

.container_contact__medias {
  display: flex;
  justify-content: space-evenly;
  width: 790px;
  height: 66px;
  gap: 30px;
  /* margin: 10px 30px 40px 30px; */
}

.container_contact__a {
  text-decoration: none;
  font-size: 23px;
  font-family: var(--main-font);
  color: var(--green-color);
}

.fa {
  margin: 11px;
}

.container_contact__a:hover {
  color: white;
}

.container_contact__whatsapp:hover {
  font-size: 23px;
  border: 1px solid green;
  border-radius: 15px;
  padding: 10px;
  background-color: #2bb741;
  width: 215px;
  text-align: center;

  transition: 0.2s ease-in;
}

.container_contact__email:hover {
  font-size: 24px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: #c71610;
  width: 200px;
  text-align: center;

  transition: 0.2s ease-in;
}

.container_contact__facebook:hover {
  font-size: 24px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background-color: #2f55a4;
  width: 200px;
  text-align: center;

  transition: 0.2s ease-in;
}

.container_contact__instagram:hover {
  font-size: 24px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  background: #f09433;
  width: 200px;
  text-align: center;

  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  transition: 0.2s ease-in;
}

.container_contact__adress {
  font-family: var(--main-font);
  font-size: 20px;
  padding: 10px;
  background-color: var(--bege-color);
  border-radius: 15px;
  margin-top: 45px;
}

.container_contact__adressInfo {
  text-align: center;
  padding: 5px;
}

.container_contact__home {
  margin: 10px;
  padding: 10px;
}
.container_contact__aHome {
  text-decoration: none;
  font-size: 23px;
  font-family: var(--main-font);
  color: var(--green-color);
}

.container_contact__aHome:hover {
  background-color: var(--green-color);
  color: white;
  padding: 10px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

.container_contact__mediasMobile {
  display: none;
}

/* Desktop Version */

@media screen and (max-width: 1400px) {
  .container_contact__home {
    margin-top: 80px;
  }
}

/* Tablet version */

@media screen and (max-width: 768px) {
  .container_contact__medias {
    display: none;
  }

  .container_contact {
    display: inline;
    text-align: center;
  }

  .container_contact__medias {
    display: inline;
  }

  .container_contact__p {
    font-family: var(--second-font);
    height: 205px;
    color: var(--green-color);
    font-family: var(--second-font);
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    padding: 25px;
    text-align: center;
    margin: 10px;
    width: 600px;
  }
}

/* Mobile Version: */
/* Iphone 8+, 9+... */

@media screen and (max-width: 430px) {
  .container_contact {
    width: 415px;
  }

  .container_contact__titulo {
  }

  .container_contact__p {
    width: 385px;
    height: 255px;
  }

  .container_contact__whatsapp {
    width: 385px;
    margin-left: 5px;
  }

  .container_contact__whatsapp:hover {
    font-size: 23px;
    border: 1px solid green;
    border-radius: 15px;
    padding: 10px;
    background-color: #2bb741;
    width: 385px;
    text-align: center;
    transition: 0.2s ease-in;
  }
  .container_contact__email {
    width: 395px;
  }

  .container_contact__email:hover {
    width: 385px;
    margin-left: 5px;
  }

  .container_contact__instagram {
    width: 385px;
    margin-left: 5px;
  }

  .container_contact__instagram:hover {
    width: 385px;
  }

  .container_contact__facebook {
    width: 385px;
    margin-left: 5px;
  }

  .container_contact__facebook:hover {
    width: 385px;
  }

  .container_contact__adress {
    width: 380px;
    margin-left: 10px;
    text-align: center;
  }
}

/* Iphone 7,8,9... */
@media screen and (max-width: 375px) {
  .container_contact__infos {
    width: 357px;
  }

  .container_contact {
    display: inline-block;
    justify-content: center;
    width: 375px;
  }

  .container_contact__titulo {
  }

  .container_contact__p {
    font-family: var(--second-font);
    width: 355px;
    height: 300px;
    color: var(--green-color);
    font-family: var(--second-font);
    font-size: 22px;
    font-style: normal;
    text-align: center;
    border: 1px solid var(--green-color);
    border-radius: 15px;
    background-color: var(--bege-color);
    color: var(--green-color);
    margin-left: 20px;
  }

  .container_contact__medias {
    display: none;
  }

  .container_contact__mediasMobile {
    display: inline-block;
    margin-top: 20px;
    padding-top: 20px;
    width: 180px;
    margin-right: 35px;
  }

  .container_contact__whatsappMobile:hover {
    font-size: 23px;
    border: 1px solid green;
    border-radius: 15px;
    padding: 5px;
    background-color: #2bb741;
    width: 180px;
    text-align: center;
    transition: 0.2s ease-in;
  }

  .container_contact__emailMobile:hover {
    font-size: 24px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    background-color: #c71610;
    width: 180px;
    text-align: center;
    transition: 0.2s ease-in;
  }

  .container_contact__instagramMobile:hover {
    font-size: 24px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    background: #f09433;
    width: 180px;
    text-align: center;

    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    transition: 0.2s ease-in;
  }

  .container_contact__facebookMobile:hover {
    font-size: 24px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    background-color: #2f55a4;
    width: 180px;
    text-align: center;
    transition: 0.2s ease-in;
  }

  .container_contact__home {
    width: 345px;
    text-align: center;
  }

  .container_contact__adress {
    width: 345px;
    margin-left: 10px;
    text-align: center;
  }
}
