.container_gallery {
  /* width: 1348px; */
  text-align: center;
  background-color: var(--bege-color);
}

.container_gallery__title {
  font-size: 45px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-color);
  text-align: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.container_gallery__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.container_gallery__image {
  display: inline-block;
  width: 650px;
  height: 360px;
  border-radius: 15px;
  border: 2.5px solid var(--green-color);
  transition: 0.3s ease-in-out;
}

.container_gallery__image:hover {
  opacity: 0.6;
  width: 655px;
  height: 365px;
}

.container_gallery__link {
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  color: var(--green-color);
  padding: 10px;
  margin: 5px;
}

.container_gallery__a {
  text-decoration: none;
}

.container_gallery__a:hover {
  font-size: 25px;
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px;
  background-color: var(--green-color);
  color: var(--bege-color);
  transition: 0.2s ease-in;
}

/* Desktop Version */

@media screen and (min-width: 1400px) {
  .container_gallery {
    width: 1903px;
    text-align: center;
    background-color: var(--bege-color);
  }

  .container_gallery__image {
    display: inline-block;
    width: 845px;
    height: 560px;
    border-radius: 15px;
    border: 2.5px solid var(--green-color);
    transition: 0.3s ease-in-out;
  }

  .container_gallery__image:hover {
    opacity: 0.6;
    width: 865px;
    height: 565px;
  }
}

/* Tablet version */

@media screen and (max-width: 768px) {
  .container_gallery {
    display: inline;
  }
}

/* Mobile Version: */

/* Iphone 7+, 8+,  10+... */

@media screen and (max-width: 430px) {
  .container_gallery {
    background-color: white;
  }

  .container_gallery__images {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; */
    display: inline-block;
  }

  .container_gallery__image {
    display: inline-block;
    width: 350px;
    height: 360px;
    border-radius: 15px;
    border: 2.5px solid var(--green-color);
    transition: 0.3s ease-in-out;
    margin-bottom: 5px;
  }

  .container_texts__img {
    display: none;
  }

  .container_gallery__image:hover {
    opacity: 0.6;
    width: 345px;
    height: 360px;
  }

  .container_gallery__link {
    font-size: 16px;
  }

  .container_gallery__a:hover {
    font-size: 17px;
  }
}

/* Iphone 7,8 10... */
@media screen and (max-width: 375px) {
  .container_gallery {
    margin: 0;
    max-width: 400px;
  }

  .container_gallery__title {
    width: 370px;
    margin-left: 0;
    margin-right: 0;
  }

  .container_gallery__link {
    width: auto;
    font-size: 16px;
  }

  .container_gallery__a:hover {
    font-size: 17px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 10px;
    background-color: var(--green-color);
    color: var(--bege-color);
    transition: 0.2s ease-in;
  }

  .container_gallery__images {
    display: flex;
    flex-direction: column;
    width: 355px;
    margin-left: 10px;
  }

  .container_gallery__image {
    width: 350px;
    height: 220px;
  }

  .container_texts__img {
    display: none;
  }

  .container_gallery__image:hover {
    opacity: 0.6;
    width: 320px;
    height: 200px;
  }

  .container_texts__photo {
    display: flex;
    justify-content: center;
    width: 304px;
  }
}
