.header_menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--green-color);
}

.header_menu__logo {
  padding: 10px;
}
.header_menu__img {
  width: 350px;
  height: 85px;
  transition: 0.2s ease-in-out;
}

.header_menu__img:hover {
  width: 355px;
  height: 85px;
}

.header_menu__nav {
  display: flex;
  justify-content: space-evenly;
  padding: 34px;
  margin-right: 15px;
  font-size: 25px;
}

.header_menu__item {
  text-decoration: none;
  color: var(--bege-color);
  font-family: var(--main-font);
  padding: 12px 12px 10px 12px;
  transition: 0.2s ease-in;
}

.header_menu__item:hover {
  color: white;
  font-size: 26px;
  border-bottom: 0.6px solid white;
}

/* Desktop version */
/* For the Desktop version is responding ok! */

/* Tablet version: */

@media screen and (max-width: 768px) {
  .header_menu {
    display: block;
    width: 395px;
  }

  .header_menu__logo {
    display: flex;
    justify-content: center;
  }
}

/* Mobile version */

@media screen and (max-width: 375px) {
  .header_menu {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 375px;
  }

  .header_menu__logo {
    display: flex;
    justify-content: center;
    width: 245px;
    margin-left: 54px;
    padding: 5px;
    
  }

  .header_menu__nav {
    display: block;
    justify-content: center;
    text-align: center;
    border-bottom: none;
    width: 300px;
  }

  .header_menu__list {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  .header_menu__item:hover {
    color: white;
    font-size: 26px;
    border-bottom: none;
  }
}

@media screen and (max-width: 430px) {

  .header_menu {
    width: 414px;
  }

  .header_menu__list {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
  }
}
