.container {
  display: flex;
  justify-content: center;
  background-color: #fff0d1;
}

.container_conceito__titulo {
  font-family: var(--main-font);
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  color: var(--green-color);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_conceito__p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: var(--second-font);
  height: 210px;
  font-family: var(--main-font);
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
}

.container_mandala {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.container_conceito__mandala {
    width: 540px;
    height: 180px;
}


.container_foto {
    position: relative;

}

.container_foto::before {
    opacity: 1;
}

.container_foto__img {
  width: 600px;
  height: 511px;
}
