.container {
  display: flex;
  justify-content: center;
  background-color: #fff0d1;
  height: 517px;
  width: 1348px;
}

.container_conceito__titulo {
  font-family: var(--main-font);
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  color: var(--green-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_conceito__p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: var(--second-font);
  height: 205px;
  font-family: var(--main-font);
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.container_mandala {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 208px;
}

.container_conceito__mandala {
  margin-top: 5px;
  border-radius: 50px;
  width: 120px;
  height: 120px;
  transition: 7s ease-in-out;
}

.container_conceito__mandala:hover {
  transform: rotate(360deg);
  width: 150px;
  height: 150px;
}

.container_mandala__retangulo {
  background-color: var(--green-color);
  width: 300px;
  margin: 10px;
  height: 1px;
}

.container_foto__img {
  width: 500px;
  height: 517px;
  -webkit-mask-image: linear-gradient(to right, transparent 5%, green 40%);
}

/* Desktop Version */

@media screen and (min-width: 1400px) {
  .container {
    height: 517px;
    width: 1803px;
  }

  .container_mandala {
    width: 1500px;
  }
}

/* Tablet version */

@media screen and (max-width: 768px) {
  .container {
    display: block;
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

  .container_conceito {
    text-align: center;
  }

  .container_mandala {
    display: block;
    text-align: center;
  }

  .container_mandala__retangulo {
    background-color: var(--green-color);
    width: 740px;
    margin: 12px;
    height: 1px;
    text-align: center;
  }

  .container_conceito__mandala {
    display: inline-block;
    margin-right: 45px;
  }

  .container_foto {
    display: inline-block;
    text-align: center;
  }

  .container_foto__img {
    width: 400px;
    height: 400px;
    -webkit-mask-image: linear-gradient(
      to right and left,
      transparent 5%,
      var(--bege-color) 20%
    );
    border-radius: 15px;
    margin: 5px;
    border: 1px solid var(--green-color);
  }
}

/* Mobile Version: */
/* Iphone 7+,8+,10+... */

@media screen and (max-width: 430px) {
  .container {
    width: 400px;
    height: 100%;
  }

  .container_conceito__titulo {
    width: 390px;
    margin-left: 5px;
  }

  .container_conceito__p {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
  }

  .container_mandala {
    width: 385px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container_mandala__retangulo {
    width: 375px;
  }

  .container_foto__img {
    width: 300px;
    height: 300px;
  }
}

/* Iphone 7,8,10... */
@media screen and (max-width: 375px) {
  .container {
    display: inline-block;
    width: 375px;
    height: 100vh;
    text-align: center;
  }

  .container_conceito__titulo {
    width: 350px;
    margin-left: 5px;
  }

  .container_conceito__p {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: auto;
    padding: 20px;
    margin-top: 15px;
    margin-left: 12px;
    font-size: 20px;
  }

  .container_mandala__retangulo {
    display: none;
  }

  .container_mandala {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
    margin-left: 5px;
  }

  .container_conceito__mandala {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }

  .container_foto {
    width: 340px;
  }

  .container_foto__img {
    width: 300px;
    height: 300px;
  }
}
