@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@import url("https://fonts.googleapis.com/css?family=Rubik");

body {
  background-color: #3757d0;
  /* background-image: url("/img/logo/Log\ 1\ Fundo\ Bege.png"); */
  /* background-image: radial-gradient(#1f4934 3%, #0a2119 97%); */
  background-color: var(--green-color);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--bege-color);
  text-align: center;
}

.container_index__logoImg {
  width: 900px;
  height: 410px;
  /* border: 0.2px solid white; */
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.container_index__text {
  width: 1330px;
  height: 40px;
  text-align: center;
}
.container_index__p {
  font-family: var(--main-font);
  font-size: 24px;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;
  animation: caret 1s steps(1) infinite;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.enter {
  display: flex;
  justify-content: center;
}

.enter_button {
  font-size: 30px;
  font-family: var(--main-font);
  border-radius: 50px;
  width: 150px;
  height: 60px;
  background-color: var(--bege-color);
  border: 1px solid white;
  transition: 0.3s ease-in;
  padding: 10px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: var(--green-color);
}

.enter_button:hover {
  cursor: pointer;
  width: 153px;
  height: 63px;
}

/* Desktop Version */

@media screen and (min-width: 1400px) {

  .container_index__text {
    width: 1830px;
    height: 40px;
    text-align: center;
  }

  .enter {
    margin-top: 45px;
  }
}

/* Tablet version */

@media screen and (max-width: 768px) {
  .container_index__logoImg {
    width: 650px;
    height: 350px;
  }
}

/* Mobile Version */

@media screen and (max-width: 375px) {
  .container_index__logoImg {
    width: 320px;
    height: 140px;
  }

  .container_index__text {
    width: 300px;
    height: 20px;
  }

  .container_index__p {
    width: 320px;
  }

  .container_index {
    display: inline-block;
    justify-content: space-between;
    width: 90vw;
    height: 50px;
  }

  .enter {
    display: inline-block;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 310px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 414px) {
  .enter {
    display: inline-block;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 310px;
    margin-top: 30px;
  }

  .container_index__logoImg {
    width: 320px;
    height: 140px;
  }

  .container_index__text {
    width: 355px;
    height: 200px;
    text-align: center;
  }
}
