.container_texts {
    display: flex;
    justify-content: center;
    background-color: #fff0d1;
    height: 617px;
    width: 1348px;
}

.container_text__img {
    width: 500px;
    height: 617px;
      -webkit-mask-image: linear-gradient(to left, transparent 5%, green 40%);
      opacity: 0.5;
}

.container_text__h1 {
    font-family: var(--main-font);
    font-size: 43px;
    font-weight: bold;
    font-style: normal;
    color: var(--green-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_conceito__p {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: var(--second-font);
    height: 205px;
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: -40px;
}
