button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: var(--brand-green);
  border-radius: 40px;
  border: none;
  color: white;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  gap: 5px;
  transition: s ease;
}

button a {
  color: var(--brand-green);
}

button:hover {
  background: var(--brand-green-hover);
}

button:hover a {
  color: var(--white);
}
