* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  /* Colors: primary*/
  --brand-green: #00856f;
  --brand-green-light: #dce9e2;
  --brand-green-light-02: #f7f9f9;
  --brand-beige: #fffaf1;
  --brand-green-hover: #00453a;
  /* Colors: secondary*/
  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #ffffff;

  /* Font: */
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
